.task {
  width: 340px;
  height: 90px;
  border-radius: 20px;
  color: rgba(231, 231, 233, 1);
  display: flex;
  flex-direction: row;
  padding: 12px;
  align-items: flex-end;
  justify-content: flex-end;
  overflow: hidden;
  position: relative;
  gap: 12px;
  &_image {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    width: 154px;
    height: 90px;
  }
  &_name {
    font-family: 'Orpheus';
    font-size: 20px;
    margin: 0;
  }
  &_description {
    font-family: 'SF Pro Display';
    width: 118px;
    height: 40px;
    text-overflow: ellipsis;
    overflow: hidden;
    line-clamp: 3;
    font-size: 12px;
    margin-top: 6px;
  }
  &_reward {
    display: flex;
    flex-direction: row;
    font-size: 11px;
    gap: 3px;
  }
}
