.task {
  width: calc(100% - 20px);
  height: 90px;
  border-radius: 20px;
  color: rgba(231, 231, 233, 1);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  overflow: hidden;
  position: relative;
  gap: 12px;
  margin: 0 auto 10px auto;
  &_image {
    position: absolute;
    top: 0;
    left: 0;
    width: 154px;
    height: 90px;
  }
  &_main {
    display: flex;
    flex-direction: row;
    margin-right: 12px;
    gap: 12px;
  }
  &_name {
    width: 118px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-family: 'Morfin Sans';
    font-weight: 400;
    font-size: 20px;
    margin: 0;
  }
  &_description {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    width: 118px;
    text-overflow: ellipsis;
    overflow: hidden;
    line-clamp: 3;
    font-size: 12px;
    margin: 4px 0px 0px 0px;
    text-transform: lowercase;
  }
  &_reward {
    align-self: flex-end;
    margin: 0px;
    display: flex;
    flex-direction: row;
    font-size: 11px;
    gap: 3px;
  }
  &__disabled {
    pointer-events: none;
    position: relative;
    // display: flex;
    // align-items: center;
    // justify-content: center;

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(
        275deg,
        #30a952 15.76%,
        rgba(48, 169, 82, 0) 100.77%
      );
      border-radius: 20px;
      z-index: 1;
    }
  }
  &__checkmark {
    position: absolute;
    top: 50%;
    bottom: 50%;
    right: 30px;
    transform: translateY(-50%);
    height: 24px;
    z-index: 2;
  }
}
