.advertisment {
  width: calc(50% - 5px);
  min-width: calc(50% - 5px);
  display: flex;
  justify-content: center;
  .swiper {
    width: 100%;
    min-width: calc(50% - 5px);
    &-slide {
      width: 100%;
      img {
        width: 100%;
        height: auto;
        border-radius: 20px;
      }
    }
  }
}
