@import '@/styles/variables.scss';

.techHour {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: calc(100% - 55px);
  align-items: center;
  position: fixed;
  color: $grey;
  font-weight: 500;
  font-size: 16px;
  &__title {
    width: calc(100% - 40px);
    font-family: 'Orpheus';
    font-size: 58px;
    margin-bottom: 24px;
    margin: 0 auto;
  }
  &__text {
    width: calc(100% - 40px);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    &-sub {
      color: $grey--lighten--1;
      font-size: 12px;
      font-weight: 400;
    }
  }
}
