@import '@/styles/variables.scss';

.error {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: calc(100% - 55px);
  align-items: center;
  position: fixed;
  color: $grey;
  font-weight: 500;
  font-size: 16px;
  &__link {
    width: calc(100% - 40px);
    background-color: $pink;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 6px 10px;
    border-radius: 12px;
    text-decoration: none;
    margin-top: 8px;
    a {
      color: $grey;
    }
  }
  &__text {
    width: calc(100% - 40px);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    &-sub {
      color: $grey--lighten--1;
      font-size: 12px;
      font-weight: 400;
    }
  }
}
