$white: rgb(250, 250, 255);
$pink: rgba(246, 233, 240, 1);
$red: rgba(158, 29, 55, 1);
$red--lighten--1: rgba(207, 80, 105, 1);
$red--lighten--2: rgba(207, 80, 105, 0.1);
$grey: rgba(51, 51, 51, 1);
$grey--lighten--1: rgba(68, 68, 68, 0.5);
$grey--lighten--2: rgba(211, 211, 211, 0.2);
$grey--lighten--3: #e7e7e9;

//ПОТОМ