@import '@/styles/variables.scss';

.modal {
  position: fixed;
  z-index: 2000;
  left: 0;
  top: 0;
  // top: calc(50px + var(--tg-safe-area-inset-top, 0px));
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  &_content {
    padding: 20px;
    border-radius: 20px 20px 0px 0px;
    position: relative;
    overflow: auto;
    height: calc(100% - 50px);
    max-height: calc(100% - 50px);;
  }
}

[role='close'] {
  display: flex;
  align-self: flex-end;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 90%;
  border: none;
  // color: rgba(250, 250, 255, 1);
  background-color: rgba(250, 250, 255, 1);
}
