@import '@/styles/variables.scss';

.modal {
  width: 100%;
  height: calc(100% - 50px);
  display: flex;
  justify-content: center;
  align-items: center;
}

[role='close'] {
  display: flex;
  align-self: flex-end;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 90%;
  border: none;
  // color: rgba(250, 250, 255, 1);
  background-color: rgba(250, 250, 255, 1);
}
