@import "@/styles/variables.scss";

[role="tab"][aria-selected="false"] {
  background-color: $pink;
  color: $red;
}

[role="tab"] {
  all: unset;
  border-radius: 12px;
  font-weight: 500;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35px;
}

[role="tab"][aria-selected="true"] {
  background-color: $red;
  color: $white;
  fill: $white;
}
