@import "@/styles/variables.scss";

[role="tab"][aria-selected="false"] {
  background-color: $pink;
  color: $red;
}

[role="tab"] {
  width: 100%;
  border: none;
  border-radius: 12px;
  padding: 0;
  height: 35px;
}

[role="tab"][aria-selected="true"] {
  background-color: $red;
  color: $white;
  fill: $white;
}
