@import '@/styles/variables.scss';

.modal {
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  max-width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  overflow: auto;
  &_content {
    width: auto;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    border-radius: 20px 20px 0px 0px;
    position: relative;
    overflow: auto;
    height: calc(100% - 50px);
    max-height: calc(100% - 50px);
    font-size: 14px;
    color: rgba(231, 231, 233, 1);
    &-avatar {
      width: 100%;
      height: auto;
      object-fit: contain;
      border-radius: 20px 20px 0px 0px;
    }
    &_main {
      padding: 0px 16px 32px 16px;
      &-submit_error {
        margin-top: 20px;
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 8px;
        color: $red;
        font-weight: 500;
        font-size: 14px;
      }
      &-correct {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: 'Morfin Sans';
        font-size: 48px;
        color: #30a952;
      }
      &-incorrect {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: 'Morfin Sans';
        font-size: 48px;
        color: #9e1d37;
      }
      &-in_progress {
        margin-top: 20px;
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: 'Morfin Sans';
        font-size: 48px;
        color: $red--lighten--1;
      }
      &_title {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 21px 0px 6px 0px;
        &-character {
          font-family: 'Morfin Sans';
          font-size: 32px;
        }
        &-points {
          display: flex;
          align-items: center;
          flex-direction: row;
          gap: 6px;
        }
      }
      &-task {
        color: rgba(231, 231, 233, 0.6);
        font-size: 12px;
        margin-top: 8px;
        &-link {
          display: flex;
          flex-direction: column;
          gap: 2px;
          a {
            color: $red--lighten--1;
          }
        }
      }
    }
  }
}

button[role='close'] {
  position: absolute;
  right: 16px;
  top: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 90%;
  border: none;
  background-color: rgba(250, 250, 255, 1);
  &:active {
    background-color: none;
  }
}

input[type='text'] {
  padding: 0;
  width: 100%;
  max-width: 100%;
  height: 46px;
  background-color: transparent;
  border-radius: 8px;
  border: 1px solid rgba(231, 231, 233, 1);
  text-indent: 16px;
  margin-bottom: 12px;
  font-size: 16px;
  input::placeholder {
    color: rgba(231, 231, 233, 0.6);
    text-indent: 16px;
    font-size: 16px;
  }
}

input[type='file'] {
  display: none;
}

label {
  width: 100%;
  height: 46px;
  background-color: transparent;
  border-radius: 8px;
  border: 1px dotted rgba(231, 231, 233, 1);
  margin-bottom: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(231, 231, 233, 1);
  font-weight: 500;
  font-size: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

input[type='text']:focus {
  outline: 2px solid $red--lighten--1;
  border: 1px solid $red--lighten--1;
}
