@import '@/styles/variables';
.tasks {
  padding-top: calc(var(--tg-safe-area-inset-top) + 10px);
  padding-bottom: calc(var(--tg-safe-area-inset-bottom) + 55px);
  overflow: auto;
  max-height: 100vh;
  &__card {
    width: 340px;
    height: 90px;
    border-radius: 20px;
  }
  &__price {
    display: flex;
  }
}
