@import '@/styles/variables';
.tasks {
  max-height: calc(100vh - 125px - var(--tg-safe-area-inset-bottom, 0px));
  overflow: auto;
  padding-top: calc(60px + var(--tg-safe-area-inset-top, 0px));
  max-width: 390px;
  margin: 0 10px;
  &__price {
    display: flex;
  }
}
