@import '@/styles/variables';
.tasks {
  width: 100%;
  position: fixed;
  top: calc(60px + var(--tg-safe-area-inset-top, 0px));
  max-height: calc(100vh - 125px - var(--tg-safe-area-inset-bottom, 0px));
  overflow: auto;
  &__price {
    display: flex;
  }
}
